// WRAPPER
.cover {
  background: rgba(40, 42, 54, 1);
  background-image: url("/static/images/background-index.png");
  overflow: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
  margin-bottom: 3rem;
}

.hero-section {
  h2 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 10px;
  }

  perspective: 1000px;
  color: $primary;
  width: 400px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: $primary;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 80px;
}

.hero-welcome-bio {
  color: white;

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(0, 0, 0, 0.6);
  border: 2px solid $primary;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

.typed {
  display: block;
  font-size: 6vmin;
  color: #fff;
  padding-top: 3rem;
}

.accent {
  color: $accent;
  font-weight: bold;
}

.icons {
  margin-right: 1rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.photo {
  max-width: 70%;
  border-radius: 50%;
  margin: 0 auto;
}
