@import url("https://use.typekit.net/ypz0fwx.css");

@import "./vars";
@import "./header";

// PAGES
@import "./index";
@import "./portfolio";
@import "./cv";

html,
body {
  font-family: "proxima-nova", Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.base-page {
  padding-top: 150px;
  color: $primary;
  background: #f3f3f3;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI5NiwxMzZjMC0yMi0xOC00MC00MC00MHMtNDAsMTgtNDAsNDBzMTgsNDAsNDAsNDBTMjk2LDE1OCwyOTYsMTM2eiBNMjk2LDM3NmMwLTIyLTE4LTQwLTQwLTQwcy00MCwxOC00MCw0MHMxOCw0MCw0MCw0MFMyOTYsMzk4LDI5NiwzNzZ6IE0yOTYsMjU2YzAtMjItMTgtNDAtNDAtNDBzLTQwLDE4LTQwLDQwYzAsMjIsMTgsNDAsNDAsNDBTMjk2LDI3OCwyOTYsMjU2eiIvPjwvc3ZnPg==) !important;
}

a {
  transition: 0.2s;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

span.login {
  cursor: pointer;
}

.btn-secondary {
  background: $accent;
  border-color: darken($accent, 10%);
}
